<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">
            <!-- <i class="fa-brands fa-facebook"></i> -->
            <img src="/assets/icon/facebook-brands.svg" alt="facebook" class="icon">
        </a>
    {% endif %}

    <!-- {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-twitter"></i>
        </a>
    {% endif %} -->

    {% if site.reading %}
        <a class="link" href="https://yangyang14.top/Reading/" target="_blank" rel="noopener">
            <!-- <i class="fa-solid fa-book"></i> -->
            <img src="/assets/icon/bytedance_book-open.svg" alt="book" class="icon">
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener">
            <!-- <i class="fa-brands fa-instagram"></i> -->
            <img src="/assets/icon/instagram-brands.svg" alt="instagram" class="icon">
        </a>
    {% endif %}

    {% if site.photo %}
    <a class="link" href="https://yangyang14.top/photo/" target="_blank"  rel="noopener">
        <!-- <i class="fa-regular fa-image"></i> -->
        <img src="/assets/icon/image-regular.svg" alt="photo" class="icon">
    </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"  rel="noopener">
            <!-- <i class="fa-brands fa-linkedin"></i> -->
            <img src="/assets/icon/linkedin-brands.svg" alt="linkedin" class="icon">
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank"  rel="noopener">
            <!-- <i class="fa-brands fa-github"></i> -->
            <img src="/assets/icon/github-brands.svg" alt="GitHub" class="icon">
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}" target="_blank" rel="noopener">
            <!-- <i class="fa-regular fa-envelope"></i> -->
            <img src="/assets/icon/envelope-regular.svg" alt="email" class="icon">
        </a>
    {% endif %}

    {% if site.feishu %}
    <a class="link" data-title="{{ site.feishu }}" href="https://ai.feishu.cn/wiki/UdluwtZlliBwRikl5c2clPxtn7b" target="_blank" rel="noopener">
        <!-- <i class="fa-regular fa-envelope"></i> -->
        <img src="/assets/icon/feishu_new-lark.svg" alt="feishu" class="icon">
    </a>
    {% endif %}

    {% if site.google_scholar %}
    <a class="link" data-title="google-scholar.com/{{ site.google-scholar }}" href="https://google-scholar.com/{{ site.google-scholar }}" target="_blank" rel="noopener">
        <!-- <i class="fa-brands fa-google-scholar"></i> -->
        <img src="/assets/icon/google-scholar-brands.svg" alt="google-scholar" class="icon">
    </a>
    {% endif %}
</div>
